
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"
          media="all"  th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/searchForm.css"
          media="all"  th:href="@{/css/searchForm.css}" />


    <title>Main </title>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}"><i class="fas fa-wallet"></i>
                    <span>JOB APPLICATION</span></a>
            </div>

            <div class="navbar-header">
                <input id="nav-search"  onkeyup="myFunction()" class="form-control input-sm " type="search" placeholder="Search" aria-label="Search">
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/}"><i class="fas fa-align-justify"></i> My List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/userSettings}"><i class="fas fa-users-cog"></i>   <span sec:authentication="principal.username">User</span></a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"> <i class="fas fa-sign-in-alt"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<br>
<div class="row">
    <ol class="breadcrumb">
        <li class="active"><a href="/list/all">Data  <i class="fa fa-briefcase"></i></a>  </li>
        <li><a th:href="@{|/list/emr/${'fulltime'}|}"><i class="fas fa-sort"></i> Full time</a></li>
        <li><a th:href="@{|/list/emr/${'parttime'}|}"><i class="fas fa-sort"></i> Part time</a></li>
    </ol>
</div>

<section>
    <div class="row" th:fragment="post-list" th:if="${postList != null && !postList.isEmpty()}">

        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="bg-danger warning no-result"><i class="fa fa-warning"></i> No result</div>


            <div th:each="p : ${postList}" class="job-list">

                <a style="text-decoration: none; color: black;">

                    <div class="list-view">
                                    <span>
                                         <img th:src="@{${'/uploads/'+ p.imgName}}" th:alt="icon">
                                    </span>

                        <div class="list-info target">

                            <h4 th:text="${p.topic}">Topic</h4>
                            <p  th:text="${p.description}">Description</p>

                            <div class="job-icons">
                                <b>Experience</b><span><i class="fas fa-level-up-alt"></i> <span th:text="${p.experience}"></span></span>
                                <span><i class="fas fa-rupee-sign"></i> <span th:text="${p.salary}"></span></span>
                                <b>work period</b> <span><i class="fa fa-clock-o"></i><span th:text="${p.duration}"></span></span>
                                <span><i class="fa fa-briefcase"></i> <span th:text="${p.jobType}"></span></span>
                                <span><i class="far fa-compass"></i> <span th:text="${p.location}"></span></span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Copyright © 2021 (19MX218 & 19MX221) </p>
</footer>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../static/js/main.js}"></script>
<script>
    function myFunction() {
        var input = document.getElementById("nav-search");
        var filter = input.value.toLowerCase();
        var nodes = document.getElementsByClassName('target');

        var jobCount = 0;
        for (i = 0; i < nodes.length; i++) {
            if (nodes[i].innerText.toLowerCase().includes(filter)) {
                var x = nodes[i].closest(".list-view");
                x.style.display = "block";
                jobCount++;
            } else {
                var x = nodes[i].closest(".list-view");
                x.style.display = "none";
            }
        }
        $('.counter').text(jobCount + ' item');

        if(jobCount == '0') {$('.no-result').show();}
        else {$('.no-result').hide();}
    }
</script>



</body>
</html>