<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />

    <link rel="stylesheet" type="text/css" href="../static/css/userSettings.css"
          media="all"  th:href="@{/css/userSettings.css}" />

    <title>Login</title>
</head>
<body>

<header class="">
    <nav class="navbar navbar-inverse navbar-fixed-top head">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"><i class="fas fa-wallet"></i>
                    <span>JOB APPLICATION</span></a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userSettings}"><i class="fas fa-users-cog"></i>   <span sec:authentication="principal.username">User</span></a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"> <i class="fas fa-sign-in-alt"></i> Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>

<main >

<div align="center" >
    <div >
        <div class="d-inline ">
            <p class="avatar-img"><img th:src="@{${'/uploads/'+ user.imgName}}"  alt="Avatar" class="avatar"></p>
        </div>
        <div class="d-inline">
            <h1>User Settings</h1>
        </div>
<div class="divC ">
    <div class="container-fluid bgc" id="user-set">
        <form th:action="@{/update/user}"  enctype="multipart/form-data" th:object="${user}" method="post">

            <div class="form-group" align="left">
                <label for="img" class="control-label">Profile</label>
                <input id="img" type="file" name="file" />
            </div>

            <div class="form-group" align="left">
                <label for="username" class="control-label">Username</label>
                <input id="username" class="form-control" th:field="*{username}" placeholder="Enter Username"/>
            </div>

            <div class="form-group" align="left">
                <label for="firstName" class="control-label">First name</label> <input
                    id="firstName" class="form-control" th:field="*{firstName}" placeholder="Enter first name"/>
            </div>

            <div class="form-group" align="left">
                <label for="lastName" class="control-label">Last name</label> <input
                    id="lastName" class="form-control" th:field="*{lastName}" placeholder="Enter last name"/>
            </div>

            <div class="form-group" align="left">
                <label for="email" class="control-label">E-mail</label> <input id="email" placeholder="Enter email" class="form-control" th:field="*{email}" />
            </div>

            <div class="form-group" align="left">
                <label for="password" class="control-label">Change Password</label>
                <input id="password"  type="password" th:field="*{password}" placeholder="Enter new password" class="form-control"/>
            </div>
               <div class="form-group" align="left">
            <label for="confirmPassword" class="control-label">Confirm
                    password</label> <input id="confirmPassword" class="form-control" type="password" placeholder="Enter password again" />    </div>
            <div class="form-group"  align="left">
                <div class="col-md-4"><button type="submit" class="form-control btn btn-primary">Update</button></div>
                <div class="col-md-4"><a th:unless="${role}" class="form-control btn btn-danger"  th:href="@{/delete}">Delete</a></div>
            </div>
        </form>
    </div>
</div>
</div>
</main>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>